.show_ejs *{
    box-sizing: border-box;
    margin: 0 auto;   
    padding: 0;
    /* border: 2px solid red; */
}
:root{
    --skillBarColor: red;
    --tableBorder: 1px solid rgba(182, 178, 178, 0.733);
    --trBorderColor: rgba(182, 178, 178, 0.733);
    --infoBgColor: rgba(240, 248, 255, 0.719);
    --infoBorderRadius: 10px;
    --colorGrass: rgb(96, 233, 96);    
}

.show_ejs{
    background-color: gray;
    margin: 0 auto;
}


.show_ejs header{
    /* margin: 0 auto; */
    width: 90%;
}

.show_ejs header img{
    width: 135px;
    height: 154px;
    display: flex;
    justify-content: end;
}
.show_ejs h2{
    display: inline-block;
}

.rotate{
    transform: rotate(-35deg); 
}
.show_ejs main{
    background-image: url("https://user-images.githubusercontent.com/97874956/163669288-6abe250c-3960-4c21-8ec6-c6874ad359be.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    margin: 20px auto;
    padding-top: 21vh;
    padding-bottom: 1vh;
    padding-left: 0%;
    width: 90%;
    display: grid;
    grid-template-columns: 60vh 60vh;
    justify-content: center;
}

.poke-img{
    border-radius: 10px;
}

#section-pokedex{
    width: fit-content;
    height: fit-content;
    background-color: var(--infoBgColor); 
    border: 1px solid var(--infoBgColor);
    border-radius: var(--infoBorderRadius); 
}

.first-cell{
    text-align: right;
    padding-right: 20px;
}

.skill-bar{
    margin-left: 0px;
}

.show-Grass{
    background-color: var(--colorGrass);
    color: white
}
.show-Fire{
    background-color: orange;
    color: white;
}
.show-Flying{
    background-color: skyblue;
    color: white
}

#base-skills{
    background-color: var(--infoBgColor); 
    border: 1px solid var(--infoBgColor);
    border-radius: var(--infoBorderRadius);
    margin-top: 20px;
    /* margin-left: 25%; */
    width: 100%;
    position: relative;
    top: 1vh;
    /* bottom: -90px; */
    
}


.show_ejs table{
    /* width: 100%; */
    border-top: var(--tableBorder); 
    border-radius: 10px;  
}

.show_ejs td{    
    border-bottom: var(--tableBorder);
    padding-left: 5px;
}
